.cart-button{
    display:flex;
    align-items: center;
   justify-content: center;
    width:80%;
    margin:0 auto; 
    bottom:0px;
    padding:7px;
    background-color: rgba(255, 224, 179, 1);
    border:none;
    border-radius: 8px;
}
